
:root{
    --primary: #D3CDCD01;
    --secondary: #899759;
    --primary-light: #54493A;
    --primary-light-transparent: #FAFAFA88;
    --gray: #424242;
    --gold: #DEBE94;
}

*{
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

body{
    background-color: var(--primary);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span, p, button, input{
    font-family: 'roboto', sans-serif;
    color: var(--primary-light);
    margin: 0;
}

a{
    text-decoration: none;
}

.App{
    padding: 1.5rem;
    padding-top: 0;
}

//FA ICON STYLES
.icon{
    font-size: 1.5em;
}

.github-icon{
    color: #fafbfc;
}

.linkedin-icon{
    color: #0077B5;
}

.whatsapp-icon{
    color: #25d366;
}

.youtube-icon{
    color: #FF0000;
}

.python-icon{
    color: #4584b6;
}

.javascript-icon{
    color: #F0DB4F;
}

.dev-icon{
    color: #4584b6;
}

.html-icon{
    color: #e34c26;
}

.css-icon{
    color: #2965f1;
}

.mail-icon{
    background-color: var(--gold);
}

button {
    margin: 0;
    padding: 0;
    background-color: var(--primary-light-transparent);
    color: var(--primary);
    font-size: 1em;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5em;
    cursor: pointer;
}