.contact{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    h3{
        font-size: 24px;
        color: var(--primary-light);
    }

    span{    
        font-size: 20px;
        text-align: center;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding-left: 1.5rem;
        

        .social-media-item{
            display: flex;
            gap: 0.5rem;
            align-content: center;
            justify-content: center;
            cursor: pointer;

            img{
                width: 1em;
                height: 1em;
            }
        }
    }
}